.container {
    flex: 5
}

.title {
    margin: 4rem 0px;
    font-size: xx-large;
}

.utxt {
    border-bottom: 4px solid #0a87c6b5;
    padding-bottom: 5px;
    /* background-color: var(--bg); */
}