.container {
    width: 60px;
    height: 25px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--textColor);
    position: relative;
}

.ball {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: aliceblue;
    position: absolute;
    margin: 4px;
}

.Image_Moon {
    margin-left: 5px;

}

.Image_Sun {
    margin-right: 5px;

}