.container {
    width: 40px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(58, 61, 61);
    position: relative;
}

.ball {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: aliceblue;
    left: 2px;
    position: absolute;
}