@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #1A3636;
		--foreground: #D6BD98;
		--accent: #677D6A;
	}

	html,
	body {
		background-color: #1A3636;
		color: #D6BD98;
		min-height: 100vh;
	}
}
